.h-100vh {
  height: calc(100vh);
}

.h-10s {
  height: 160px;
}

.h-20s {
  height: 320px;
}

@include media-breakpoint-up(md) {
  .h-md-10s {
    height: 160px;
  }

  .h-md-20s {
    height: 320px;
  }
}
@include media-breakpoint-up(lg) {
  .h-lg-10s {
    height: 160px;
  }

  .h-lg-20s {
    height: 320px;
  }
}
