.h-100vh {
  height: calc(100vh);
}

.h-5s {
  height: 80px;
}

.h-6s {
  height: 96px;
}

.h-7s {
  height: 112px;
}

.w-7s {
  width: 112px;
}

.h-10s {
  height: 160px;
}

.h-20s {
  height: 320px;
}

@include media-breakpoint-up(md) {
  .h-md-7s {
    height: 112px;
  }

  .h-md-10s {
    height: 160px;
  }

  .h-md-20s {
    height: 320px;
  }
}
@include media-breakpoint-up(lg) {
  .h-lg-10s {
    height: 160px;
  }

  .h-lg-20s {
    height: 320px;
  }
}
